body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.font-size{
    font-size: 50px;
}
.indigo-color{
    color: #8525c9;
}
.flexible{
    display: flex;
}
.width{
    width: 50%;
    padding-right: 7%;
    margin-top: 7%;
    margin-left: 10%;
    margin-bottom: 5%;
}
.width img{
    width: 80%;
}
.font-family{
    font-family: 'Yeseva One', cursive;
}
#text-border{
    border-left: 7px solid;
    border-image: linear-gradient(rgb(150, 46, 224), #ee7e3ec5);
    border-image-slice: 1;
    padding-left: 20px;
}
.button{
    text-decoration: none;
    color: white;
    padding: 10px 25px;
    border-radius: 5px;
    background-image: linear-gradient(rgb(150, 46, 224), #ee7e3ec5);
}
#text-align{
    text-align: center;
    font-size: 40px;
}
.font-size2{
    font-size: 20px;
}
.second-section-items{
    width: 25%;
    margin-top: 0%;
    margin-bottom: 5%;
    padding: 10px 30px;
    border-radius: 25px;
}
.second-section-items img{
    width: 50%;
}
#mission{
    background-color: lightyellow;
    margin-left: 10%;
}
#vision{
    background-color: lightcyan;
    margin-left: 2%;
    margin-right: 2%;
}
#goal{
    background-color: lightgray;
    margin-right: 10%;
}
.section-three{
    width: 70%;
    margin-left: 8%;
    margin-bottom: 5%;
    padding: 10px 30px;
}
.section-three img{
    width: 70%;
    margin-right: 5%;
}
.section-four{
    width: 70%;
    margin-left: 8%;
    margin-bottom: 5%;
    padding: 10px 30px;
}
.section-four img{
    width: 75%;
    margin-left: 55%;
}
.font-size3{
    font-size: 30px;
}
#font-family3{
    font-family: 'Lobster', cursive;
    color: white;
    text-align: center;
    font-size: 30px;
}
#text-align3{
    text-align: center;
    color: white;
}
footer{
    background-color: black;
    padding: 20px 10px;
}
#footer-text-color{
    color: violet;
}